.header {
    margin-top: 60px;
}

.headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    color:#444;
    font-weight: 350;
    font-size: x-large;
}

.headerTitleSm {
    position: absolute;
    top: 18%;
    font-size: 20px;
    margin-top: 10px;
}

.headerTitleLg {
    position: absolute;
    top: 20%;
    font-size: 100px;
    margin-top: 20px;
}

.headerImg {
    width: 100%;
    height: 450px;
    margin-top: 80px;
    object-fit: cover;
}